<div class="container mt-4">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md-3 w-25">
        <div class="card bg-black">  
          <div class="card-body">
            <h3 class="card-title text-center text-white">Machine 1</h3>
            <h2 class="card-title text-center bg-success p-3 rounded text-white text-xl">Running</h2>
            <div class="row align-items-start">
                <div class="col text-white text-xl bg-gradient m-1 p-2">
                  One 
                </div>
                <div class="col text-white text-xl m-1  p-2 border-bottom">
                  Two
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col text-white text-xl bg-gradient m-1  p-2">
                  One 
                </div>
                <div class="col text-white text-xl m-1 p-2 border-bottom">
                  Two
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col text-white text-xl bg-gradient m-1 p-2">
                  One 
                </div>
                <div class="col text-white text-xl m-1 p-2 border-bottom">
                  Two
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col text-white text-xl bg-gradient m-1 p-2">
                  One 
                </div>
                <div class="col text-white text-xl m-1 p-2 border-bottom">
                  Two
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col text-white text-xl bg-gradient m-1 p-2">
                  One 
                </div>
                <div class="col text-white text-xl m-1 p-2 border-bottom">
                  Two
                </div>
              </div>
              
          </div>
          
        </div>
      </div>

    
    
    </div>
    
  </div>
